<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DealersContext" connectionString="metadata=res://*/DealersModel.csdl|res://*/DealersModel.ssdl|res://*/DealersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GNEBAMT\SQLEXPRESS;initial catalog=Dealers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DealersEntities" connectionString="metadata=res://*/DealersModel.csdl|res://*/DealersModel.ssdl|res://*/DealersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GNEBAMT\SQLEXPRESS;initial catalog=Dealers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>